body{
    background-color: rgb(17, 0, 90);
    height: 1000px;
}

a{
    text-decoration: none;
}
header{
    text-align: center;
    font-size: 80px;
    padding: 30px;
    color: white;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    border: none;
    border-radius: 30px;
    background: linear-gradient(to bottom, rgb(63, 152, 253), rgb(55, 0, 255));
    margin: 5px;
}

main{
    height: 70%;
    font-size: 50px;
    color: white;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

footer{
    background-color: rgb(0,0,0);
    font-size: 15px;
    border-radius: 20px;
    color: rgb(173, 173, 173);
    padding: 30px;
    margin: 5px;
}

.section1{
    background: linear-gradient(to bottom, rgb(30, 14, 255), rgb(0,0,0));
    height: 90%;
    width: 79%;
    position: relative; 
    margin: 5px;
    border-radius: 20px;
    text-align: left;
    padding: 25px;
    float: right;
    display: inline-block;
}

.section2{
    float: left;
    width: 15%;
    margin-top: 9px;
    position: relative;
    border: dashed;
    background: none;
    display: inline-block;
    font-size: 20px;
    height: 53%;
    text-align: center;
    padding-top: 300px;
    border-color: rgb(58, 58, 58);
    color: rgb(121, 121, 121);
    border-radius: 20px;
}

.p1{
    font-size: 42px;
}

.div1{
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 30px;
    width: 30%;
    text-align: center;
    background: linear-gradient(to bottom, rgb(0, 183, 255), rgb(0, 110, 255));
}